/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets/fonts/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
}

body{
  margin: 0;
  /* width: 100vw; */
  /* overflow: hidden; */
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.container{
  width: 90vw;
  margin: 0 auto;
}

.logo{
  width: 180px;
}

.logo-big{
  width: 220px;
}

/* TopSection Styles */
.top-section{
  background-color: #2A3D4C;
  position: relative;
}

.top-section.img{
  background-image: url('./assets/img/7.jpg');
  /* background-size: 100% 100%; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 95vh;
  /* animation: animationIn .25s ease-in forwards; */
}

@keyframes animationIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.top-section-text{
  text-align: left;
  /* position: absolute; */
  /* left: 50%;
  top: 57%; */
  /* transform: translate(-50%, -50%); */
  animation: animationIn .25s ease-in forwards;
  align-items: flex-start;
  height: calc(95vh - 100px);
  padding-left: 50px;
}

.top-section-text h1{
  color: #2A3D4C;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 60px;
  margin: 0 0 15px 0;
  width: 500px;
}

.top-section-text p{
  margin: 0;
  color: #2A3D4C;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 22px;
  width: 430px;
}

/* Navbar Styles */
.navbar{
  height: 80px;
  justify-content: space-between;
  padding: 10px 40px 10px 20px;
  /* border: 1px solid red; */
}

.navbar.classic{

}

.navbar.home .menu{
  width: 650px;
}

.navbar.home .menu a{
  /* border-bottom: 2px solid #1A2934; */
  color: #2A3D4C;
  letter-spacing: 1px;
  font-weight: 600;
}

.menu{
  width: 561px;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-weight: 500;
}

.menu a{
  text-decoration: none;
  font-size: 16px;
  color: #D5EDFF;
  /* letter-spacing: 2px; */
  transition: .2s;
}

.menu a:hover{
  color: white;
}

.menu a.selected{
  color: white;
}

.hamburger-menu{
  /* width: 50px; */
  /* position: absolute;
  right: 5%;
  top: 0; */
  /* right: 0; */
  /* margin-left: auto; */
  /* height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* z-index: 2; */
  transition: all .5s ease;
  /* cursor: pointer; */
  display: none;
}

/* fixed hamburger menu */
.hamburger-box{
  position: absolute;
  right: calc(5vw + 20px);
  /* background-color: white; */
  /* position: absolute;
  right: 5%;
  top: 5%;*/
  z-index: 2;
  transition: all .5s ease;
  display: none;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bar-menu{
  /* width: 25px; */
  /* margin: 4px 0; */
  width: 20px;
  margin: 2px 0;
  /*  */
  height: 3px;
  background: white;
  border-radius: 10px;
}

.b1.active{
  animation: bar1in .5s forwards;
}
.b2.active{
  animation: bar2in .5s forwards;
}
.b3.active{
  animation: bar3in .5s forwards;
}

.b1.inactive{
  animation: bar1out .5s forwards;
}
.b2.inactive{
  animation: bar2out .5s forwards;
}
.b3.inactive{
  animation: bar3out .5s forwards;
}

@keyframes bar1in{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(7px);
  }
  100%{
    transform: translateY(7px) rotate(45deg);
    /* background: black; */
  }
}

@keyframes bar1out{
  0%{
    transform: translateY(7px) rotate(45deg);
    /* background: black; */
  }
  50%{
    transform: translateY(7px);
  }
  100%{
    transform: translateY(0);
    /* background: black; */
  }
}

@keyframes bar2in{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes bar2out{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes bar3in{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-7px);
  }
  100%{
    transform: translateY(-7px) rotate(-45deg);
    /* background: black; */
  }
}

@keyframes bar3out{
  0%{
    transform: translateY(-7px) rotate(-45deg);
    /* background: black; */
  }
  50%{
    transform: translateY(-7px);
  }
  100%{
    transform: translateY(0);
    /* background: #FF9DFF; */
  }
}

.side-menu{
  display: none;
}

@media screen and (max-width: 950px) {
  body{
    width: 100vw;
    overflow-x: hidden;
  }
  .navbar-desktop{
    display: none;
  }
  .hamburger-menu{
    display: flex;
  }
  .side-menu{
    display: inline;
  }
  .menu-responsive{
    /* display: inline; */
    height: 100vh;
    width: 100vw;
    position: absolute;
    /* z-index: 1; */
    top: 0;
    right: -100%;
    background-color: rgba(255, 0, 0, 0.5);
    transition: 0.5s;
  }

  .menu-responsive.active{
    right: 0;
  }
  .navbar img{
    width:160px;
  }
  .navbar {
    padding: 10px 20px;
    height: 50px;
  }
}

@media screen and (max-width: 420px){
  .navbar img{
    width:130px;
  }
}

/* About Styles */
.about{
  background-color: #F5F5F5
}

.about-box{
  padding: 40px 100px;
}

.about-header-text{
  /* border: 1px solid red; */
  margin: 40px 0;
  color: #2A3D4C;
}

.about-header-text h1{
  margin: 0;
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 600;
  border-bottom: 4px solid #5D9AAF;
  width: 650px;
  text-align: center;
  padding-bottom: 8px;
}

.about-header-text p{
  margin: 14px 0 0 0;
  font-family: 'Roboto';
  font-size: 18px;
}

.about-cards{
  /* border: 1px solid yellow; */
  padding: 20px 0;
}

.about-card{
  /* border: 1px solid blue; */
  width: 800px;
  font-family: 'Montserrat';
  text-align: center;
  padding: 35px 0 35px 0;
  background-color: white;
  transition: .25s;
  color: #2A3D4C;
}

.about-card svg{
  fill: #2A3D4C;
  transition: .25s;
}

.about-card:hover svg{
  fill: white;
}

.about-card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #1A2934;
  color: white !important;
}

.about-card:nth-of-type(2){
  margin-top: 30px;
}

.about-card-icon{
  width: 40px;
}

.about-card h1{
  margin: 15px 0;
  font-weight: 600;
}

.about-card p{
  margin: 0;
  width: 700px;
  /* font-weight: 500; */
}

.about-button{
  background-color: #5D9AAF;
  color: #D2EAFC;
  text-align: center;
  font-size: 22px;
  padding: 12px 35px;
  border: none;
  margin: 25px 0 5px 0;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: inset 0 -.2em rgba(0,0,0,.2); */
  outline: 0;
  transition: .2s;
  will-change: transform;
  /* width: 220px; */
  font-family: 'Montserrat';
  font-weight: 600;
  /* letter-spacing: 1px; */
}

.about-button:active{
  transform: scale(.9);
}

.about-button:hover {
  color: #2A3D4C;
}

/* Team Styles */
.team-box{
  padding: 0 20px;
}

.team-header{
  /* border: 1px solid blue; */
  margin: 40px 0;
  color: #2A3D4C;
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 600;
  border-bottom: 4px solid #5D9AAF;
  padding-bottom: 8px;
  /* align-self: flex-start; */
  width: 350px;
  text-align: center;
}

.team-cards{
  /* width: 100%; */
  /* padding: 0 50px; */
  margin-bottom: 50px;
  /* height: 700px; */
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 50px;
}

.team-card{
  /* border: 1px solid red; */
  align-items: flex-start;
  border-bottom: 3px solid #5D9AAF;
  cursor: pointer;
}

.team-card:hover .team-card-avatar{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.team-card-avatar{
  transition: .2s;
}

.team-card-text{
  margin: 8px 0;
}

.team-card-text h1 {
  margin: 0;
  color: #2A3D4C;
  font-family: 'Montserrat';
  font-size: 19px;
}

.team-card-text p {
  margin: 3px 0 0 0;
  color: #2A3D4C;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
}

.team-card-text.modal p,
.team-card-text.modal h1{
  color: white;
}

.team-card-text.modal{
  border-bottom: 3px solid #5D9AAF;
  padding-bottom: 8px;
  /* margin-left: 30px; */
  margin: 18px 0 8px 30px;
  width: 257px;
}

.team-card-text.title{
  border-bottom: 5px solid #5D9AAF;
  padding-bottom: 8px;
  margin: 55px 0 55px 30px;
}

.team-card-text.title h1 {
  font-size: 23px;
}

.team-card-text.title p {
  font-size: 18px;
}

.rodal-dialog{
  padding: 0 !important;
}

.team-modal{
  /* width: 300px;
  height: 300px; */

}

.modal-left{
  width: 44%;
  /* border: 1px solid red; */
  background-color: #2A3D4C;
  align-items: flex-start;
  height: 570px;
  justify-content: flex-start;
}

.modal-right{
  align-items: flex-start;
  justify-content: flex-start;
  width: 56%;
  height: 570px;
  /* border: 1px solid blue; */
}

.modal-avatar{
  width: 100%;
}

.modal-contact{
  margin-left: 30px;
  margin-bottom: 8.3px;
}

.modal-icon{
  width: 15px;
  margin-right: 10px;
}

.modal-contact-text{
  margin: 0;
  color: #D5EDFF;
  font-family: 'Roboto';
  font-size: 14px;
}

.modal-bio{
  margin: 0;
  margin-left: 30px;
  color: #2A3D4C;
  font-family: 'Roboto';
  font-size: 16px;
  width: 340px;
  text-align: justify;
}

@media screen and (max-width: 1080px) {
  .team-cards{
    grid-column-gap: 50px;
    /* grid-row-gap: 25px; */
  }
}

@media screen and (max-width: 1020px) {
  .team{
    background-color: #F5F5F5
  }
  .team-card{
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px 10px 14px 10px;
    border-bottom: unset;
  }
  .team-cards{
    grid-column-gap: 25px;
    /* grid-row-gap: 25px; */
  }
  .team-card .team-card-text{
    width: 100%;
    border-bottom: 3px solid #5D9AAF;
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 950px) {
  .team-cards{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

@media screen and (max-width: 768px) {
  .team-cards{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  /* Here should go Rodal fix for mobile */
  .rodal,
  .rodal-mask{
    display: none !important;
  }
}

@media screen and (max-width: 630px) {
  .team-cards{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
}

@media screen and (max-width: 600px) {
  .team-cards{
    grid-template-columns: 1fr;
  }
  .team-header{
    width: 288px;
    font-size: 28px;
  }
}

/* Trabajo Styles */
.work-box{
  padding: 100px;
}

.work-card{
  /* border: 1px solid yellow; */
  width: 480px;
  height: 500px;
  margin-right: 40px;
}

.work-form{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  width: 450px;
  height: 570px;
  margin-left: 40px;
  border-radius: 8px;
  position: relative;
}

.work-card header{
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 600;
  color: #2A3D4C;
  margin: 0;
  border-bottom: 6px solid #5D9AAF;
  padding-bottom: 8px;
}

.work-card p{
  margin: 0;
  font-family: 'Roboto';
  color: #2A3D4C;
  font-weight: 300;
  margin: 30px 0;
}

.work-card h2{
  margin: 0 0 30px 0;
  font-family: 'Roboto';
  color: #2A3D4C;
  font-size: 21px;
}

.work-card svg{
  fill: #5D9AAF;
}

.work-form header{
  /* align-self: flex-start; */
  font-family: 'Montserrat';
  color: #2A3D4C;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  /* height: 50px; */
  padding: 30px 0 30px 40px;
}

.rect{
  position: absolute;
  left: 0;
  top: 30px;
  width: 6px;
  height: 20px;
  background-color: #5D9AAF;
}

.work-form-labels{
  font-family: 'Montserrat';
  color: #2A3D4C;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

.work-form-input{
  /* border: 1px solid blue; */
  width: 330px;
  align-items: flex-start;
  margin: 10px 0;
}

.work-form-input input{
  border: none;
  border-bottom: 1px solid #2A3D4C;
  width:320px;
  color: #2A3D4C;
  font-size: 12px;
  font-weight: 500;
  padding: 2px;
}

.work-form-input input::placeholder {
  font-family: 'Montserrat';
  color: #2A3D4C;
  font-size: 11px;
  font-weight: 400;
  font-style: italic;
}

.work-form-submit{
  width: 330px;
  align-items: flex-start;
  margin: 10px 0;
}

.work-form-submit button{
  background-color: #5D9AAF;
  color: #D2EAFC;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;;
  border: none;
  /* width: 200px; */
  margin: 8px 0 0px 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  transition: .2s;
  will-change: transform;
}

.work-form-submit button:active{
  transform: scale(.9);
}

.work-form-textarea{
  width: 330px;
  align-items: flex-start;
  margin: 10px 0;
}

.work-form-textarea textarea{
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 330px;
  height: 110px;
  margin-top: 5px;
  color: #2A3D4C;
  font-size: 12px;
  font-weight: 500;
  padding: 2px;
}

.submit{
  background-color: #5D9AAF;
  color: #D2EAFC;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  border: none;
  width: 200px;
  /* margin: 25px 0 5px 0; */
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  margin-top: 10px;
  transition: .2s;
  will-change: transform;
}

.submit:active{
transform: scale(.9);
}

/* Areas Styles */
.areas-header{
  margin: 40px 0;
}
.areas-header h1{
  /* border: 1px solid blue; */
  margin: 0;
  color: #2A3D4C;
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 600;
  border-bottom: 4px solid #5D9AAF;
  padding-bottom: 8px;
  /* align-self: flex-start; */
  width: 450px;
  text-align: center;
}

.areas-header p{
  margin: 20px 0 0 0;
  font-family: 'Roboto';
  font-size: 18px;
  color: #2A3D4C;
}

.areas-card{
  width: 950px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 30px;
  border-radius: 8px;
  /* height: 200px; */
  overflow: hidden;
}

.areas-card:nth-child(4){
  margin-bottom: 53px;
}

.areas-card-left{
  width: 750px;
  /* padding: 0 30px; */
}

.areas-card-left h1{
  margin: 0 0 0 40px;
  align-self: flex-start;
  color: #2A3D4C;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 600;
  border-bottom: 4px solid #5D9AAF;
  padding-bottom: 4px;
  /* padding-left: 4px; */
}

.areas-card-left p{
  width: 670px;
  margin: 14px 0 0 0;
  font-family: 'Roboto';
  font-size: 14px;
  color: #2A3D4C;
}

.areas-card img{
  /* height: 230px; */
  width: 200px;
}

/* Footer styles */
footer{
  background-color: #2A3D4C;
  flex-shrink: 0;
}

.footer-box{
  padding: 55px 100px 0 100px;
}

.footer-box-top{
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.contact-box{
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 50px;
}

.contact-box-left{
  margin-right: 100px;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-box-title{
  font-family: 'Montserrat';
  color: #D5EDFF;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.contact-details{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.contact-detail-icon{
  width: 15px;
  margin-right: 10px;
}

.contact-detail-icon.small {
  width: 12px;
  margin-right: 10px;
}

.contact-detail-text{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #5D9AAF;
  /* letter-spacing: 2px; */
  margin: 8px 0;
}

.menu-footer{
  align-items: flex-start;
}

.menu-footer a{
  font-family: 'Roboto';
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  color: #5D9AAF;
  /* letter-spacing: 2px; */
  margin: 8px 0;
}

.privacy-box{
  width: 100%;
  height: 50px;
  border-top: 1px solid #1A2934;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  color: #5D9AAF;
}

@media screen and (max-width: 1230px) {
  .contact-box-left{
    margin-right: 50px;
  }

  .footer-logo img{
    width: 200px;
  }
}

@media screen and (max-width: 1150px) {
  .footer-logo img{
    width: 150px;
  }
  .contact-box{
    padding-right: 0px;
  }
}

@media screen and (max-width: 1020px) {
  footer{
    background-color: white;
    box-shadow: inset 0 10px 20px rgba(0,0,0,0.19);
  }
  .footer-box{
    /* border: 1px solid red; */
    padding: 0;
    margin-top: 30px;
  }
  .footer-logo,
  .footer-navlinks{
    display: none;
  }
  .footer-box-top{
    justify-content: center;
    margin-bottom: 0;
  }
  .contact-box{
    padding-right: 0;
  }
  .contact-box-left{
    margin-right: 0;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
  }
  .contact-detail{
    flex-direction: column;
    margin: 8px 0;
  }
  .privacy-box{
    justify-content: center;
    color: #2A3D4C;
    border-top: 1px solid #2A3D4C;
    text-align: center;
    font-size: 9px;
    height: 40px;
  }
  .contact-box-title{
    color: #2A3D4C;
    font-size: 28px;
    font-weight: 600;
    border-bottom: 3px solid #5D9AAF;
    padding-bottom: 4px;
    letter-spacing: 1px;
    text-align: center;
  }
  .contact-detail-text{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    width: 240px;
    text-align: center;
  }
  .contact-details{
    flex-direction: column-reverse;
    align-items: center;
  }
}
